.backgroundhitam{
	background-color:#000;
	text-align:center;}
.D{
	color:#F00;
	font-size:32px;}
#T{
	color:#0F0;
	font-size:32px;}
#blog{
	color:#FFF;
	font-size:46px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
#webdesign{
	color:#FFF;
	font-size:14px;}
.backgoundmerah{
	background-color:#F00;
	text-align:center;}
.backgroundputih{
	background-color:#FFF;
	width:642px;
	height:683px;}
#tabelbahasa{
	background-color:#CCCCCC;
	text-align:center;
	width:72px;}
.judulartikel{
	background-color:#333333;
	width:381px;
	text-align:center;
	color:#FFF;
	font-size:18px;}
.tanggalpost{
	background-color:#EEEEEE;
	height:58px;}
.tabelsosmeddanjudullain{
	background-color:#CCCCCC;
	text-align:center;
	width:167px;}
#tabelnavigasi{
	text-align:center;
	width:250px;}
.navigasi{
	color:#F00;}