#body{
	background-image:url(dewa.jpg);
}

.background{
	background-color:#FFF;
	width:600px;
}

.warna{
	background-color:#FF0;
}

.menu{
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	font-style:oblique;
	width:100px;
	color:#000;
}

.margin{
	margin-left:20px;
	margin-right:20px;
}

#warna{
	color:#FF0;
}