#body{
	background-image:url(dewa.jpg);
}

.background{
	background-color:#FFF;
	width:600px;
}

.warna{
	background-color:#FF0;
}

.menu{
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	font-style:oblique;
	width:100px;
	color:#000;
}

.margin{
	margin-left:20px;
	margin-right:20px;
}

#warna{
	color:#FF0;
}

#form{
				width: 500px;
				height: 100px;
				margin-top: 200px;
				padding: 20px;
				margin-left: 400px;
				text-align: center;
				font-weight: bold;
				color: white;
				font-size: 20px;
			}
#hasil{
				width: 500px;
				margin: auto;
				padding: 20px;
			}